body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fcd530;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ce1920;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px 5px;
  text-align: center;
  color: white;
}

.card {
  background-color: white;
  display: flex;
  justify-content: flex;
  width: 1000px;
  height: 500px;
  box-shadow: 0px 10px 20px 0px (0, 0, 0, 0, 75);
}

.inputs {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 15%;
  margin-right: 20%;

  font-weight: bold;
  font-size: 18px;
}
img {
  display: flex;
  width: 50%;
}
